body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', sans-serif;
  color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #F5F5F5;
}

.content-section_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  display: block;
  max-width: 78px;
  max-height: 15px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #F5F5F5;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  padding: 30px 24px 30px 21px;
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover__title {
  width: 100%;
  color: #FFF;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  line-height: 1;
  font-weight: 400;
}

.accent-span {
  display: block;
}

.intro {
  padding: 0 20px 37px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 22px;
}

.intro__title {
  max-width: 203px;
  color: #CCC;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.intro__date {
  white-space: nowrap;
  color: #CCC;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.intro__main-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reasons {
  padding: 40px 20px;
  color: #131313;
}

.content-section__subtitle {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.content-section__introduction {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.35;
  margin-bottom: 32px;
}

.content-section__list {
  padding: 0 0 0 16px;
}

.content-section__list-item {
  color: #131313;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  margin-bottom: 16px;
}

.content-section__list-item:last-child {
  margin-bottom: 0;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  border-radius: 30px;
  padding: 20px;
}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}

.card__author-photo {
  max-width: 100px;
  max-height: 100px;
}

.card__author-name {
  font-weight: 700;
  line-height: 1.35;
}

.card__content {
  margin-top: 8px;
}

.card_text-only {
  margin-top: 0;
}

.card__title {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.35;
  margin: 8px 0;
}

.card__text {
  font-weight: 400;
  line-height: 1.35;
}

.footer {
  padding: 20px;
}
