body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  max-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #F5F5F5;
}

.content-section_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  display: block;
  max-width: 78px;
  max-height: 15px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #F5F5F5;
  line-height: 1.2;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  padding: 30px 24px 30px 21px;
  background-image: url("../images/cover.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.accent-span {
  display: block;
  color: #FFF;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  line-height: 1;
  font-weight: 400;
}

.intro {
  padding: 0 20px 37px;
}

.reasons {
  padding: 40px 20px;
}

.how-to {
  padding: 40px 20px 60px;
}

.footer {
  padding: 20px;
}
